<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotent.form.persistence.dao.FormRightDao">
	<resultMap id="BpmFormRight" type="com.hotent.form.model.FormRight">
		<id property="id" column="id_" jdbcType="VARCHAR"/>
		<result property="formKey" column="form_key_" jdbcType="VARCHAR"/>
		<result property="flowKey" column="flow_key_" jdbcType="VARCHAR"/>
		<result property="nodeId" column="node_id_" jdbcType="VARCHAR"/>
		<result property="parentFlowKey" column="parent_flow_key_" jdbcType="VARCHAR"/>
		<result property="permission" column="permission_" jdbcType="LONGVARCHAR"/>
		<result property="permissionType" column="permission_type_" jdbcType="NUMERIC"/>
        <result property="isCheckOpinion" column="is_check_opinion" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="getAllByFlowKey" parameterType="java.lang.String" resultMap="BpmFormRight">
		SELECT * FROM form_right WHERE flow_key_ = #{flowKey,jdbcType=VARCHAR}
	</select>
	
	<select id="getByFlowKey"    resultMap="BpmFormRight">
		SELECT * FROM form_right
		WHERE   flow_key_=#{flowKey}
		and (node_id_ IS NULL OR node_id_ ='')
		and permission_type_=#{permissionType}
		<if test="@com.hotent.base.ognl.Ognl@isNotEmpty(parentFlowKey)">and parent_flow_key_=#{parentFlowKey,jdbcType=VARCHAR} </if>
		<if test="@com.hotent.base.ognl.Ognl@isEmpty(parentFlowKey)">and (parent_flow_key_ is null or parent_flow_key_='') </if>
	</select>
	
	<select id="getByFormKey"   resultMap="BpmFormRight">
		SELECT * FROM form_right
		WHERE   form_key_=#{formKey}
		<if test="isReadOnly">
		and permission_type_='2'
		</if>
		<if test="!isReadOnly">
		and permission_type_='1'
		</if>
		and (flow_key_ is null or flow_key_='')
	</select>
	
	<select id="getByFlowNodeId"    resultMap="BpmFormRight">
		SELECT * FROM form_right
		WHERE   flow_key_=#{flowKey}
		<if test="@com.hotent.base.ognl.Ognl@isNotEmpty(nodeId)">
		and node_id_=#{nodeId}
		</if>
		<if test="@com.hotent.base.ognl.Ognl@isEmpty(nodeId)">
		and (node_id_ IS NULL OR node_id_ ='')
		</if>
		<if test="@com.hotent.base.ognl.Ognl@isNotEmpty(permissionType)">
		and permission_type_=#{permissionType}
		</if>
		<if test="@com.hotent.base.ognl.Ognl@isNotEmpty(parentFlowKey)">and parent_flow_key_=#{parentFlowKey,jdbcType=VARCHAR} </if>
		<if test="@com.hotent.base.ognl.Ognl@isEmpty(parentFlowKey)">and (parent_flow_key_ is null or parent_flow_key_='') </if>
	</select>
	
	
	<delete id="removeByFlowKey" parameterType="java.lang.String">
		DELETE FROM form_right
		WHERE   flow_key_=#{flowKey}
		and permission_type_=#{permissionType}
		<if test="@com.hotent.base.ognl.Ognl@isNotEmpty(parentFlowKey)">and parent_flow_key_=#{parentFlowKey,jdbcType=VARCHAR} </if>
		<if test="@com.hotent.base.ognl.Ognl@isEmpty(parentFlowKey)">and (parent_flow_key_ is null or parent_flow_key_='') </if>
	</delete>
	
	
	<delete id="removeByFlowNode" parameterType="java.lang.String">
		delete FROM form_right
		WHERE   flow_key_=#{flowKey}
		<if test="@com.hotent.base.ognl.Ognl@isEmpty(nodeId)">
		and (node_id_  is null or node_id_ ='' )
		</if>
		<if test="@com.hotent.base.ognl.Ognl@isNotEmpty(nodeId)">
		and node_id_=#{nodeId}
		</if>
		<if test="@com.hotent.base.ognl.Ognl@isNotEmpty(parentFlowKey)">and parent_flow_key_=#{parentFlowKey,jdbcType=VARCHAR} </if>
		<if test="@com.hotent.base.ognl.Ognl@isEmpty(parentFlowKey)">and (parent_flow_key_ is null or parent_flow_key_='') </if>
	</delete>
	
	
	<delete id="removeByFormKey" parameterType="java.lang.String">
		DELETE FROM form_right
		WHERE
		form_key_=#{formKey}  and (flow_key_ is null or flow_key_='')
	</delete>

    <select id="getByTeam" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT is_check_opinion FROM form_right  where FLOW_KEY_=#{flowKey} and NODE_ID_=#{nodeId}
    </select>
    
    <delete id="emptyAll" parameterType="java.lang.String">
		DELETE FROM form_right
		WHERE
		flow_key_=#{flowKey}
	</delete>

</mapper>